<!DOCTYPE html>
<html>
<head>
  <title>loyalty</title>
  <%= stylesheet_link_tag    "loyalty/application", media: "all" %>
  <%= javascript_include_tag "loyalty/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
